@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixin.scss";
@import "@styles/footer.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;

  @include mobile {
    scroll-padding-top: 60px;
  }
}


@layer base {

  :root {
    --home-slide-bg: rgba(0, 0, 0, 0);
    //transition: --home-slide-bg 0.5s ease-in-out;
    --container-width: 1280px;

    @include desktop {
      --container-width: 970px;
    }

    @include tablet {
      --container-width: 740px;
    }

    @include mobile {
      --container-width: 100vw;
    }

    --container-width-full: 1280px;
    --container-width-desktop: 970px;
    --container-width-tablet: 740px;
    --container-width-mobile: 100vw;

    --landscape-300: 248 244 241;
    --landscape-300-rgb: rgb(248, 244, 241);

    --landscape-400: 243 232 223;
    --landscape-400-rgb: rgb(243, 232, 223);

    --landscape-450: 234 223 213;
    --landscape-450-rgb: rgb(234, 223, 213);

    --landscape-500: 253 246 241;
    --landscape-500-rgb: rgb(253, 246, 241);

    --accent-200: 245 179 91;
    --accent-200-rgb: rgb(245, 179, 91);

    --accent-220: 255 179 130;
    --accent-220-rgb: rgb(255, 179, 130);

    --accent-250: 255 153 112;
    --accent-250-rgb: rgb(255, 153, 112);

    --accent-300: 255 90 25;
    --accent-300-rgb: rgb(255, 90, 25);

    --primary-150: 195 144 112;
    --primary-150-rgb: rgb(195, 144, 112);

    --primary-200: 169 127 98;
    --primary-200-rgb: rgb(169, 127, 98);

    --primary-300: 180 121 84;
    --primary-300-rgb: rgb(180, 121, 84);

    --secondary-450: 174 53 53;
    --secondary-450-rgb: rgb(174, 53, 53);

    --secondary-500: 155 44 0;
    --secondary-500-rgb: rgb(155, 44, 0);

    --secondary-700: 67 40 25;
    --secondary-700-rgb: rgb(67, 40, 25);

    --ash-100: 249 249 249;
    --ash-100-rgb: rgb(249, 249, 249);

    --ash-200: 236 236 236;
    --ash-200-rgb: rgb(236, 236, 236);

    --ash-300: 221 221 221;
    --ash-300-rgb: rgb(221, 221, 221);

    --ash-350: 216 216 216;
    --ash-350-rgb: rgb(216, 216, 216);

    --ash-500: 171 171 171;
    --ash-500-rgb: rgb(171, 171, 171);

    --ash-600: 122 122 122;
    --ash-600-rgb: rgb(122, 122, 122);

    --ash-650: 119 119 119;
    --ash-650-rgb: rgb(119, 119, 119);

    --ash-850: 63 61 62;
    --ash-850-rgb: rgb(63, 61, 62);

    --ash-900: 34 34 34;
    --ash-900-rgb: rgb(34, 34, 34);

    --prompt-info: 92 126 216;
    --prompt-info-rgb: rgb(92, 126, 216);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  * {
    font-family: var(--font-noto-sans-tc), sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--ash-900-rgb);
    transition: color 0.2s ease;
  }

  body {
    //@apply bg-background text-foreground;
  }
}


@layer components {
  .ui-section-base {
    @apply p-6;

    @include mobile {
      @apply pr-0 pl-5;
    }
  }

  .news-base {
    border-radius: 15px 5px 15px 5px;
  }

  .book-base {
    @apply aspect-[18/25] rounded-md;
  }

  .pic-base {
    @apply block overflow-hidden;

    img {
      @apply block h-full w-full object-cover object-center;
    }
  }

  .more-link-base {
    @apply tag-center flex-shrink-0 border-extralight rounded-xl px-2 py-1 text-sm font-normal leading-none text-ash-600;
    transition: color 0.2s, border 0.2s, background-color 0.2s;

    &:hover {
      color: var(--primary-200-rgb);
      border-color: var(--primary-150-rgb)
    }

    &:active {
      background-color: #fff
    }
  }

  .title-base {
    @apply flex items-center justify-between;

    &> :first-child {
      @apply text-[22px] font-medium tracking-[2px];
    }

    &> :last-child {
      @include mobile {
        @apply mr-5;
      }
    }
  }

  .tag-center {
    @apply flex items-center justify-center leading-none;
  }

  .border-extralight {
    @apply border border-solid border-ash-300;
  }

  .rounded-half {
    @apply rounded-[50px];
  }

  // btn
  .btn-base {
    @apply mx-auto my-[1px] h-9 w-[100px] shrink-0 rounded-lg ring-1 ring-accent-300 leading-8 text-accent-300 transition-all duration-200;
  }

  .primary-btn-base {
    @apply bg-accent-300 text-ash-100;

    &:hover {
      @apply bg-accent-250
    }
  }

  .secondary-btn-base {
    &:hover {
      @apply bg-white
    }
  }

  .tertiary-btn-base {
    @apply ring-ash-350 bg-ash-200 text-ash-600;

    &:hover {
      @apply bg-ash-300
    }
  }

  // free glide
  .free-glide-flex {
    @apply flex items-center justify-start;

    &>* {
      @apply flex-shrink-0;
    }
  }

  .free-glide-grid {
    @apply grid grid-cols-[auto_auto];
  }
}

//
@layer utilities {
  @media (max-width: 768px) {
    .text-lg {
      line-height: 1.6rem;
    }
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1)
  }
}


// stretch-bg
.stretch-bg {
  @apply absolute m-auto;
  height: calc(100% - 60px);
  width: calc(100vw - 60px);
  transform: translateX(calc((100vw - 60px - var(--container-width)) / 2 * -1));

  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;

  background-color: var(--bg, #ccc);
  box-shadow: 0 0 0 30px var(--bg, #ccc);
}

@include mobile {
  .stretch-bg {
    display: none;
  }
}