@import "./mixin.scss";

// :root {
//   --home-slide-bg: #d9e9e8;
// }

.slider-bg-outer {
  &::before {
    content: "";
    margin: auto;
    position: absolute;
    display: block;
    height: calc(100% - 60px);
    width: calc(100vw - 60px);
    transform: translateX(calc((100vw - 60px - var(--container-width)) / 2 * -1));
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg, var(--home-slide-bg));
    box-shadow: 0 0 0 30px var(--bg, var(--home-slide-bg));

    transition: background-color 0.5s linear, box-shadow 0.5s linear;
  }
}

.slider-bg-wrapper {
  overflow: hidden;
}

.slider-bg-wrapper {
  &::after {
    content: "";
    position: absolute;
    display: block;

    margin: auto;

    width: 100%;
    height: 130%;

    border-radius: 40px 40px 210px 210px;

    outline: 3px solid var(--home-slide-bg);

    transform: translateY(8%);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 30px 0 100px 30px var(--home-slide-bg), inset 30px 0 100px 30px var(--home-slide-bg), inset -30px 0 100px 30px var(--home-slide-bg), inset -30px 0 100px 30px var(--home-slide-bg), inset 0px 30px 30px 30px var(--home-slide-bg), 0px 0px 0px 30px var(--home-slide-bg);
    transition: all 0.5s linear;
  }
}

.header-ref {
  box-shadow: 0 0 0 200px var(--bg, var(--home-slide-bg));
  transition: background-color 0.5s linear, box-shadow 0.5s linear;
}

@include desktop {
  .slider-bg-wrapper {

    &::after {
      width: 100%;
      height: 122%;
      transform: translateY(7%);
      border-radius: 40px 40px 150px 150px;
      box-shadow: inset 30px 0px 50px 30px var(--home-slide-bg), inset -30px 0px 50px 30px var(--home-slide-bg), 0px 0px 0px 30px var(--home-slide-bg);
    }
  }
}

@include tablet {
  .slider-bg-wrapper {

    &::after {
      width: 100%;
      height: 126%;
      transform: translateY(5%);
      border-radius: 40px 40px 100px 100px;
      box-shadow: inset 15px 0px 30px 30px var(--home-slide-bg), inset -15px 0px 30px 30px var(--home-slide-bg), 0px 0px 0px 30px var(--home-slide-bg);
    }
  }
}

@include mobile {
  .slider-bg-wrapper {

    &::after {
      width: 200%;
      height: 112%;
      transform: translateY(5%) translateX(-10%);
      border-radius: 0;
      box-shadow: inset 0px 0px 30px 30px var(--home-slide-bg);
    }
  }

  .max-md_max-children-9 {
    &>*:nth-child(n+10) {
      display: none;
    }
  }
}