@import "./mixin.scss";

:root {
  //
  --default-nav: #EEE2D9;
  --default-border: #EADFD5;
  --default-body: #F8F4F1;
  --default-aside: rgb(250, 250, 250); //rgba(255, 255, 255, 0.7);
  --default-content: rgba(255, 255, 255, 0.4); //#F8F4F1;
  --default-text: #222;

  //
  --yellow-nav: #DBC68F;
  --yellow-border: #CDBD95;
  --yellow-body: #D6CEBC;
  --yellow-aside: rgb(243, 243, 243); //rgba(255, 255, 255, 0.7);
  --yellow-content: rgba(255, 255, 255, 0.4); //#E6E2D7;
  --yellow-text: #222;

  //
  --blue-nav: #BED6D9;
  --blue-border: #A6CED2;
  --blue-body: #D5DEDF;
  --blue-aside: rgb(243, 243, 243); //rgba(255, 255, 255, 0.7);
  --blue-content: rgba(255, 255, 255, 0.4);
  --blue-text: #222;

  //
  --green-nav: #BFD6B7;
  --green-border: #A9C59F;
  --green-body: #DAE1D7;
  --green-aside: rgb(243, 243, 243); //rgba(255, 255, 255, 0.7);
  --green-content: rgba(255, 255, 255, 0.4); //#E6E2D7;
  --green-text: #222;

  //
  --dark-nav: #070707;
  --dark-border: #222222;
  --dark-body: #0D0D0D;
  --dark-aside: #222222;
  --dark-content: rgba(255, 255, 255, 0.03);
  --dark-text: #ABABAB;


  //
  --piece-nav: var(--default-nav);
  --piece-border: var(--default-border);
  --piece-body: var(--default-body);
  --piece-aside: var(--default-aside);
  --piece-content: var(--default-content);
  --piece-text: var(--default-text);
}

.piece {
  &_header {
    transition: background-color 0.3s, color 0.3s;
  }

  &_main {
    --icon-hover: var(--ash-350-rgb);
    --icon-active: var(--accent-300-rgb);

    transition: background-color 0.3s, color 0.3s;

    @include tablet {
      --container-width: 100%;
    }
  }

  &_aside {
    transition: background-color 0.3s, color 0.3s;
  }

  &_nav {
    transition: background-color 0.3s, color 0.3s;
  }
}


[data-piece-mode="default"] {
  --piece-nav: var(--default-nav);
  --piece-border: var(--default-border);
  --piece-body: var(--default-body);
  --piece-aside: var(--default-aside);
  --piece-content: var(--default-content);
  --piece-text: var(--default-text);

  & &.mode-btn {
    --tw-ring-color: var(--accent-300-rgb);
  }
}

[data-piece-mode="yellow"] {
  --piece-nav: var(--yellow-nav);
  --piece-border: var(--yellow-border);
  --piece-body: var(--yellow-body);
  --piece-aside: var(--yellow-aside);
  --piece-content: var(--yellow-content);
  --piece-text: var(--yellow-text);

  & &.mode-btn {
    --tw-ring-color: var(--accent-300-rgb);
  }
}

[data-piece-mode="blue"] {
  --piece-nav: var(--blue-nav);
  --piece-border: var(--blue-border);
  --piece-body: var(--blue-body);
  --piece-aside: var(--blue-aside);
  --piece-content: var(--blue-content);
  --piece-text: var(--blue-text);

  & &.mode-btn {
    --tw-ring-color: var(--accent-300-rgb);
  }
}

[data-piece-mode="green"] {
  --piece-nav: var(--green-nav);
  --piece-border: var(--green-border);
  --piece-body: var(--green-body);
  --piece-aside: var(--green-aside);
  --piece-content: var(--green-content);
  --piece-text: var(--green-text);

  & &.mode-btn {
    --tw-ring-color: var(--accent-300-rgb);
  }
}

[data-piece-mode="dark"] {
  --piece-nav: var(--dark-nav);
  --piece-border: var(--dark-border);
  --piece-body: var(--dark-body);
  --piece-aside: var(--dark-aside);
  --piece-content: var(--dark-content);
  --piece-text: var(--dark-text);

  & &.mode-btn {
    --tw-ring-color: var(--accent-300-rgb);
  }

  .piece canvas {
    filter: invert(100%) sepia(0%) saturate(7434%) hue-rotate(21deg) brightness(121%) contrast(113%);
  }
}